@import url("@renderer/base.css");

.versionsWrapper {}

.settingsPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.settingOptions {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.settingsOption {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	& p {
		user-select: none;
	}

	& input[type='number'] {
		text-align: right;
	}
}

.saveSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding-top: 32px;
	border-top: 1px solid var(--color-text);
	margin-top: 32px;

	& button {
		display: flex;
		justify-content: center;
		background-color: light-dark(var(--color-primary), var(--color-primary));
	}
}

.settingsSelect {
	text-align: right;
}

.settingsList {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}
