@import url('../../base.css');

.fileSelector {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fileSelector>label {
	font-family: var(--font-family);
	font-size: large;
}

.importButton {
	background: var(--color-primary);
	border-radius: 8px;
	color: white;
	font-weight: 600;
}

.importButton:hover {
	background: var(--color-primary-dark);
}

.fileInput {
	height: 42px;
	padding: 12px;
	width: 300px;
	border-radius: 25px;
	border: 2px dashed light-dark(var(--color-light-3), var(--color-dark-3));
	background-color: light-dark(var(--color-light-2), var(--color-dark-2));
	align-items: center;
	cursor: pointer;
	overflow: visible;
	position: relative;
}

.fileInput:hover {
	border-width: 2px;
	border-color: light-dark(var(--color-light-3), var(--color-dark-3));
	border-style: dotted;
}

.fileInput::after {
	content: '+';
	box-sizing: border-box;
	display: flex;
	color: light-dark(var(--color-dark-2), var(--color-light-2));
	justify-content: center;
	align-items: center;
	font-family: var(--font-family);
	font-size: xx-large;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: light-dark(var(--color-light-2), var(--color-dark-2));

}

.fileInput::after:hover {
	background-color: red;
}

.fileDisplay {
	height: 42px;
	padding: 12px 50px 12px 12px;
	width: fit-content;
	border-radius: 25px;
	border-width: 2px;
	border-color: light-dark(var(--color-light-3), var(--color-dark-3));
	border-style: solid;
	background-color: light-dark(var(--color-light-2), var(--color-dark-2));
	align-items: center;
	overflow: visible;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.removeFile {
	position: absolute;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	/* border-top-right-radius: 8px; */
	background: none;
	border: none;
	cursor: pointer;
	padding: 0 0 4px 0;
	width: 42px;
	box-shadow: none;
}

.removeFile:hover {
	background: none;
	box-shadow: none;
	transform: none;
}

.uploader {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.tableWrapper {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	/* border: 1px solid red; */
	height: 100%;
}

.uploadPage {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}

.rowShifter,
.colRemover {
	position: relative;
}

li {
	opacity: 1;
}


.alignOptions {
	left: -80px;
}

.removerOptions {
	left: -50px;
}

.alignOptions,
.removerOptions {
	position: absolute;
	top: 36px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	background: light-dark(var(--color-light-2), var(--color-dark-2));
	opacity: 1;
	gap: 8px;
	z-index: 100;
	padding: 12px;
	width: 300px;
	margin: 0 auto;
	box-shadow: var(--box-shadow);
	border-radius: 12px;
}

.alignOptions>p,
.removerOptions>p {
	font-size: medium;
}

.alignActions,
.removerActions {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: stretch;
	gap: 12px;
	width: 100%;
}

.alignActions>button,
.removerActions>button {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}


.dataSorter {
	width: 100%;
	display: flex;
	height: 100%;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	border-top: 1px solid light-dark(var(--color-dark-2), var(--color-light-2));
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: var(--scrollbar-width);
	padding-left: 12px;
	padding-right: 17px;
	padding-top: 12px;
}


.dataStruct {
	font-family: monospace;
	font-size: larger;
}

.tableInfo,
.sorter {
	padding: 12px 0;
	width: 100%;
	align-self: center;
	margin: 12px 12px;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: visible;
	overflow-y: visible;
	background-color: light-dark(var(--color-light-2), var(--color-dark-2));
	/* box-shadow: var(--box-shadow); */

}

.tableInfo li,
.sorter li {
	display: flex;
	float: left;
	border-right: 1px solid light-dark(var(--color-light-3), var(--color-dark-3));
	padding: 0 12px;
	font-size: 14px;
	line-height: 14px;
	/* height: 100%; */
	align-self: center;
	justify-content: center;
	align-items: center;
	height: 36px;

	&:first-child {
		align-self: center;
		height: 36px;
	}

	&:last-child {
		border: none;
	}
}


.customerOptions {
	display: grid;
	grid-template-areas:
		/* customer */
		"ha ha ha"
		"a aa aa"
		"b bb bb"
		"c cc cc"
		/* person */
		"hb hb hb"
		"d dd dd"
		"e ee ee"
		"f ff ff"
		/* address */
		"hc hc hc"
		"g gg gg"
		/* bank */
		"hd hd hd"
		"h hh hh"
		/* company */
		"he he he"
		"i ii ii"



	;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	gap: 12px;
	width: 100%;

	&>h2:not(:first-child) {
		border-top-width: 1px;
		border-top-color: light-dark(var(--color-dark-3), var(--color-light-3));
		border-top-style: dashed;
		margin-top: 12px;
		padding-top: 12px;
	}

	&>h2 {
		user-select: none;
	}

	&>p {
		/* text-decoration: underline;
		text-decoration-color: light-dark(var(--color-dark-3),var(--color-light-3));
		text-decoration-style: dotted; */
		user-select: none;
	}

	&>h2:nth-of-type(1) {
		grid-area: ha;
	}

	&>h2:nth-of-type(2) {
		grid-area: hb;
	}

	&>h2:nth-of-type(3) {
		grid-area: hc;
	}

	&>h2:nth-of-type(4) {
		grid-area: hd;
	}

	&>h2:nth-of-type(5) {
		grid-area: he;
	}

	/***************************/
	&>p:nth-of-type(1) {
		grid-area: a;
	}

	&>p:nth-of-type(2) {
		grid-area: b;
	}

	&>p:nth-of-type(3) {
		grid-area: c;
	}

	&>p:nth-of-type(4) {
		grid-area: d;
	}

	&>p:nth-of-type(5) {
		grid-area: e;
	}

	&>p:nth-of-type(6) {
		grid-area: f;
	}

	&>p:nth-of-type(7) {
		grid-area: g;
	}

	&>p:nth-of-type(8) {
		grid-area: h;
	}

	&>p:nth-of-type(9) {
		grid-area: i;
	}

	/***************************/
	&>.dataRowWrapper:nth-of-type(1) {
		grid-area: aa;
	}

	&>.dataRowWrapper:nth-of-type(2) {
		grid-area: bb;
	}

	&>.dataRowWrapper:nth-of-type(3) {
		grid-area: cc;
	}

	&>.dataRowWrapper:nth-of-type(4) {
		grid-area: dd;
	}

	&>.dataRowWrapper:nth-of-type(5) {
		grid-area: ee;
	}

	&>.dataRowWrapper:nth-of-type(6) {
		grid-area: ff;
	}

	&>.dataRowWrapper:nth-of-type(7) {
		grid-area: gg;
	}

	&>.dataRowWrapper:nth-of-type(8) {
		grid-area: hh;
	}

	&>.dataRowWrapper:nth-of-type(9) {
		grid-area: ii;
	}
}

.assignWrapper {
	width: 100%;
	padding-bottom: 64px;
}


.tableInfoWrapper {
	width: 100%;
	height: fit-content;
	justify-content: center;
	align-items: center;
	align-self: center;
	display: flex;
}


.uploadTableWrapper {
	min-height: 45vh;
	width: 100%;
}
