# Frontend
node_modules/
bundle-prod/
bundle-demo/
bundle-dev/
.yarn
!resources/data/*.sample.csv
*.csv
#a different index.html will be copied to root folder depending, on what package.json script is run
index.html
# Backend
src-tauri/target/
src-tauri/gen/schemas
#a different tauri.conf.json will be copied to ./src-tauri/ folder, depending on what package.json script is run
src-tauri/tauri.conf.json
# other
.DS_Store
*.log*
