.customersWrapper {
	height: 100%;
	display: flex;
	flex-direction: column;

	&>ul.tooolbar {
		margin-right: 12px;
		box-sizing: border-box;
	}
}

.toolBarWrapper {
	display: flex;
}

button.tableActive {
	background: light-dark(var(--color-primary-light), var(--color-primary-dark));
}
