@import url('./base.css');

.appWrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.appWrapper > .page {
    position: absolute;
    top: 0;
    left: 138px;
    width: calc(100vw - 138px);
    /* border: 1px solid blue; */
    height: 100%;
    scrollbar-gutter: stable both-edges;
    scrollbar-width: var(--scrollbar-width);
    scrollbar-color: var(--scrollbar-color);
    overflow-y: scroll;
    overflow-x: hidden;
}
