:root {
	 --color-primary: hsl(0, 100%, 65%);
	 --color-primary-dark: hsl(0, 55%, 48%);
	 --color-primary-light: hsl(0, 100%, 77%);
	 --font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
	 Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;


	 --color-dark-1:#05090f;
	 --color-dark-2: #3b3d40;
	 --color-dark-3: #686a6e;
	 --color-light-1: hsl(0, 12%, 97%);
	 --color-light-2: hsl(0, 20%, 89%);
	 --color-light-3: hsl(0, 15%, 79%);

	 --scrollbar-width: thin;
	 --scrollbar-light: var(--color-dark-3)var(--color-light-1);
	 --scrollbar-dark: var(--color-light-3)var(--color-dark-1);
	 --scrollbar-color: light-dark(var(--scrollbar-light),var(--scrollbar-dark));
	 --scrollbar-gutter: 5px both-edges;

	--color-text: light-dark(var(--color-dark-1),var(--color-light-1));

	color-scheme: dark;
	color: light-dark(var(--color-dark-1),var(--color-light-1));

}




*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    background: light-dark(var(--color-light-1),var(--color-dark-1));
    line-height: 1.6;
    font-family: var(--font-family);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


button {
	border: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	padding: 8px;
	gap: 12px;
	cursor: pointer;
	font-family: var(--font-family);
	font-size: medium;
	border-radius: 8px;
	background: none;
	color: light-dark(var(--color-dark-1),var(--color-light-1));
	border: 2px solid var(--color-primary);
}
button:hover{
	background: light-dark(var(--color-primary-light),var(--color-primary-dark));
	border-color: light-dark(var(--color-primary-light),var(--color-primary-dark))
}

input,
select {
	border: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	padding: 8px;
	gap: 12px;
	cursor: pointer;
	font-family: var(--font-family);
	font-size: medium;
	background: light-dark(var(--color-light-1),var(--color-light-2));
	color: light-dark(var(--color-dark-1),var(--color-dark-1));
	border-width: 2px;
	border-top-color: light-dark(var(--color-light-3),var(--color-light-1));
	border-right-color: light-dark(var(--color-light-3),var(--color-light-1));
	border-bottom-color: light-dark(var(--color-light-3),var(--color-light-1));
	border-left-color: light-dark(var(--color-light-3),var(--color-light-1));
	border-style: solid;
	border-radius: 8px;
}

h1 {
	font-weight: 600;
	text-align: center;
}
h2 {
	font-weight: 500;
	text-align: center;
}
