 @import url('../../base.css');

 .tableWrapper {
 	width: 100%;
 	display: flex;
 	flex-direction: column;
 	align-items: stretch;
 	justify-content: flex-start;
 	overflow: hidden;
 }

 .tableWrapper:focus {
 	outline: none;
 	overflow: hidden;
 }

 .tableElement {
 	height: 100%;
 	align-self: center;
 	width: 100%;
 	padding-right: 16px;
 	overflow-x: scroll;
 	overflow-y: hidden;
 	scrollbar-width: var(--scrollbar-width);
 	position: relative;

 	&>table {
 		height: 100%;
 	}
 }


 table,
 thead,
 th,
 tr,
 td {
 	table-layout: auto;
 	font-family: Consolas, 'Cascadia Code', 'Courier New', Courier, monospace;
 	font-size: small;
 	margin: 0;
 	overflow: hidden;
 	padding: 0;
 	box-sizing: border-box;
 	border-collapse: collapse;

 	&>* {
 		box-sizing: content-box;
 	}
 }


 thead,
 tfoot,
 table {
 	background: none;
 	box-sizing: content-box;
 	border: none;
 }

 tfoot>tr,
 thead>tr {
	background: light-dark(var(--color-light-2), var(--color-dark-2));

 	&>th {
 		padding: 1px 5px;
 		resize: horizontal;
 		overflow: visible;
 		position: relative;
 		text-align: left;
 		border-width: 1px;
 		border-color: light-dark(var(--color-dark-3-t), var(--color-dark-3));
 		border-style: solid;

 		&:first-child {
 			display: inherit;
 		}

 		&:first-of-type {
 			padding: 0;
 			border: 0;
 			display: flex;
 			justify-content: center;
 			align-items: center;
 		}
 	}
 }

 tfoot>tr {
 	border-color: light-dark(var(--color-dark-3-t), var(--color-dark-3));
 	border-width: 3px 0 0 1px;
 	border-style: solid;
 }

 thead>tr {
 	border-color: light-dark(var(--color-dark-3-t), var(--color-dark-3));
 	border-width: 1px 0 3px 1px;
 	border-style: solid;
 }

 tbody>tr {

 	&>td {
 		border-width: 1px;
 		border-color: light-dark(var(--color-dark-3-t), var(--color-dark-3));
 		border-style: solid;

 		&:first-child {
 			background: light-dark(var(--color-light-2), var(--color-dark-2));

 			&>span {
 				display: flex;
 				justify-content: center;
 				align-items: center;
 				text-align: center;
 				width: 100%;
 			}

 		}
 	}
 }

 td,
 th {
 	text-overflow: clip;
 	line-break: strict;
 	white-space: break-spaces;
 	word-wrap: break-word;
 	word-break: break-word;
 	line-height: 1;
 	padding: 0 0 0 3px;
 	margin: 0;
 }


 .guts {
 	display: flex;
 	width: fit-content;
 	justify-content: flex-start;
 	align-items: center;
 	overflow: visible;
 	text-overflow: inherit;
 	line-break: inherit;
 	white-space: inherit;
 	max-height: inherit;
 	margin: 0;
 	padding: 0;
 	box-sizing: content-box;
 }

 .resizeElement {
 	top: 0;
 	right: -2.5px;
 	position: absolute;
 	width: 5px;
 	z-index: 2;
 	transition: all 100ms ease-in-out;
 }



 .rowNavigator {
 	position: relative;
 	background: none;
 	border: none;
 	padding: 0;
 	margin: 0;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	z-index: 2;
 	box-shadow: none;
 	height: 100%;
 	border-radius: 0;
 	border: 0;
 	width: 100%;
 }

 .rowNavigator:focus {
 	outline: none;
 }

 .rowNavigatorTop:hover,
 .rowNavigator:hover {
 	background: none;
 	box-shadow: none;
 	border: none;
 	transform: none;

 }

 .nestedCell {
 	display: flex;
 	flex-direction: column;
 	justify-content: flex-start;
 	align-items: start;

 	&>p {
 		width: fit-content;
 		white-space: balance;
 	}
 }

 .menuRow {
 	display: flex;
 	justify-content: space-between;
 	width: 100%;
 	align-items: center;
 }

 ul:has(li:has(.columnOrderer)) {
 	overflow: visible;
 }

 li:has(div.columnOrderer) {
 	padding: 0;
 	overflow: visible;

 	&:hover {
 		background: none;
 	}

 }

 .columnOrderer>div {
 	user-select: none;
 	padding: 0 0 0 12px;
 	width: 100%;
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	justify-content: flex-start;
 	overflow: visible;

 }

 div.dragIndicator,
 div.dargIndicatorPlaceholder {
 	width: 100%;
 	height: 3px;
 	display: flex;
 	overflow: visible;
 }

 div.dragIndicator {
 	background-color: var(--color-primary);
 	position: relative;
 }

 div.dragIndicator::after {
 	content: '';
 	position: absolute;
 	width: 10px;
 	height: 9px;
 	background-color: var(--color-primary);
 	right: 0px;
 	top: -3px;
 }
