 @import url('../../base.css');

 .tableWrapper {
 	width: 100%;
 	display: flex;
 	flex-direction: column;
 	align-items: stretch;
 	justify-content: flex-start;
 	overflow: hidden;
 }

 .tableWrapper:focus {
 	outline: none;
 	overflow: hidden;
 }

 .tableElement {
 	height: 100%;
 	align-self: center;
 	width: 100%;
 	padding-right: 16px;
 	overflow-x: scroll;
 	overflow-y: hidden;
 	scrollbar-width: var(--scrollbar-width);
 	position: relative;

 	&>table {
 		height: 100%;
 	}
 }


 table,
 thead,
 th,
 tr,
 td {
 	table-layout: auto;
 	font-family: Consolas, 'Cascadia Code', 'Courier New', Courier, monospace;
 	font-size: small;
 	margin: 0;
 	overflow: hidden;
 	padding: 0;
 	box-sizing: border-box;
 	border-collapse: collapse;


 	&>* {
 		box-sizing: content-box;
 	}
 }


 thead,
 tfoot,
 table {
 	background: none;
 	box-sizing: content-box;
 	border: none;
 }

 thead>tr {
 	border-color: light-dark(var(--color-dark-3-t), var(--color-dark-3));
 	border-width: 0 0 3px 0;
 	border-style: solid;
 	background: none;

 	&>th {
 		background: light-dark(var(--color-light-2), var(--color-dark-2));
 		padding: 1px 5px;
 		resize: horizontal;
 		overflow: visible;
 		position: relative;
 		text-align: left;

 		&:not(:first-of-type) {
 			border-color: light-dark(var(--color-dark-3-t), var(--color-dark-3));
 			border-style: solid;
 			border-width: 1px 1px 0 1px;
 		}

 		&:nth-of-type(2) {
 			border-left: 0;
 		}

 		&:first-of-type {
 			padding: 0;
 			border-radius: 16px 0 0 0;
 		}
 	}
 }

 tfoot>tr {
 	border-color: light-dark(var(--color-dark-3-t), var(--color-dark-3));
 	border-width: 3px 0 0 0;
 	border-style: solid;

 	&>th {
 		background: light-dark(var(--color-light-2), var(--color-dark-2));
 		padding: 1px 5px;
 		resize: horizontal;
 		overflow: visible;
 		position: relative;
 		text-align: left;
 		border-width: 0 1px 0 1px;
 		border-color: light-dark(var(--color-dark-3-t), var(--color-dark-3));
 		border-style: solid;


 		&:first-of-type {
 			padding: 0;
 		}
 	}
 }



 tbody>tr {


 	&>td {
 		border-width: 1px;
 		border-color: light-dark(var(--color-dark-3-t), var(--color-dark-3));
 		border-style: solid;

 		&:first-child {
 			background: light-dark(var(--color-light-2), var(--color-dark-2));

 			&>span {
 				display: flex;
 				justify-content: center;
 				align-items: center;
 				text-align: center;
 				width: 100%;
 			}

 		}
 	}
	&:first-of-type{
		&:first-child{
			border-top: 0;
		}
	}

 }

 td,
 th {
 	text-overflow: clip;
 	line-break: strict;
 	white-space: break-spaces;
 	word-wrap: break-word;
 	word-break: break-word;
 	line-height: 1;
 	padding: 0 0 0 3px;
 	margin: 0;
 }


 .guts {
 	display: flex;
 	width: fit-content;
 	justify-content: flex-start;
 	align-items: center;
 	overflow: visible;
 	text-overflow: inherit;
 	line-break: inherit;
 	white-space: inherit;
 	max-height: inherit;
 	margin: 0;
 	padding: 0;
 	box-sizing: content-box;
 }

 .resizeElement {
 	top: 0;
 	right: -2.5px;
 	position: absolute;
 	width: 5px;
 	z-index: 2;
 	transition: all 100ms ease-in-out;
 }



 .rowNavigator {
 	position: relative;
 	background: none;
 	border: none;
 	padding: 0;
 	margin: 0;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	z-index: 2;
 	box-shadow: none;
 	height: 100%;
 	width: 100%;
 }

 .rowNavigatorTop:hover,
 .rowNavigator:hover {
 	background: none;
 	box-shadow: none;
 	border: none;
 	transform: none;

 }

 .rowNavigatorTop {
 	border-radius: 16px 0 0 0;
 	outline-color: light-dark(var(--color-dark-3-t), var(--color-dark-3));
 	outline-style: solid;
 	outline-width: 1px;

 }

 .nestedCell {
 	display: flex;
 	flex-direction: column;
 	justify-content: flex-start;
 	align-items: start;

 	&>p {
 		width: fit-content;
 		white-space: balance;
 	}
 }

 .menuRow {
 	display: flex;
 	justify-content: space-between;
 	width: 100%;
 	align-items: center;
 }
