:root {
	/* color-scheme needs to be in the first line, (see App.tsx / styleSheet = useMemo) */
	--color-primary: hsl(0, 100%, 65%);
	--color-primary-dark: hsl(0, 55%, 48%);
	--color-primary-light: hsl(0, 100%, 77%);
	--color-secondary: hsl(224, 100%, 64%);
	--color-secondary-dark: hsl(224, 40%, 60%);
	--color-secondary-light: hsl(224, 100%, 77%);


	--font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

	--founder: 'TGVvbmhhcmQgTWFpZXIgPGdpdEAzOXouZGU+';

	--color-dark-1: #05090f;
	--color-dark-2: #3b3d40;
	--color-dark-3: #686a6e;
	--color-light-1: #f8f6f6;
	--color-light-2: #e9dddd;
	--color-light-3: #d1c1c1;

	--color-dark-1-t: #05090f80;
	--color-dark-2-t: #3b3d4080;
	--color-dark-3-t: #686a6e80;
	--color-light-1-t: #f8f6f680;
	--color-light-2-t: #e9dddd80;
	--color-light-3-t: #d1c1c180;

	--scrollbar-width: thin;
	--scrollbar-light: var(--color-dark-3) var(--color-light-1);
	--scrollbar-dark: var(--color-light-3) var(--color-dark-1);
	--scrollbar-color: light-dark(var(--scrollbar-light), var(--scrollbar-dark));
	--scrollbar-gutter: 5px both-edges;

	--color-text: light-dark(var(--color-dark-1), var(--color-light-1));

	color: light-dark(var(--color-dark-1), var(--color-light-1));

	--box-shadow: 0 2px 8px -2px light-dark(var(--color-dark-2-t), #00000080);
	--box-shadow-border: 1px solid light-dark(var(--color-light-2), var(--color-dark-1));
	--box-shadow-hover: 0px 1px 12px -2px light-dark(var(--color-dark-3-t), #00000080);
	--box-shadow-inset: inset 0 0 5px 0px light-dark(var(--color-dark-3), var(--color-dark-1));
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
	scroll-behavior: smooth;
}

*::selection {
	background-color: var(--color-secondary);
	color: var(--color-light-1)
}

ul,
menu {
	list-style: none;
}

html {
	min-height: 100vh;
	background: light-dark(var(--color-light-1), var(--color-dark-1));
	line-height: 1.6;
	font-family: var(--font-family);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button,
input,
select {
	height: 42px;
	border: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	padding: 8px 16px;
	gap: 12px;
	cursor: pointer;
	font-family: var(--font-family);
	font-size: medium;
	border-radius: 25px;
	border-radius: 21px;
	border-style: solid;
	border-width: 2px;
	transition-duration: 50ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
	user-select: none;
}

button {
	background: none;
	color: light-dark(var(--color-dark-1), var(--color-light-1));
	border-color: light-dark(var(--color-primary-light), var(--color-primary-dark));
	box-shadow: var(--box-shadow);
	text-align: center;
}


@keyframes button-hover {
	0% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(-2px);
	}

}

input:hover,
select:hover {
	/* transform: translateY(-1px); */
	box-shadow: var(--box-shadow-hover);
	border-color: var(--color-primary)
}

button:hover {
	transform: translateY(-1px);
	background: light-dark(var(--color-primary-light), var(--color-primary-dark));
	border-color: light-dark(var(--color-primary-light), var(--color-primary-dark));
	box-shadow: var(--box-shadow-hover);
}

input,
select {
	color: light-dark(var(--color-dark-1), var(--color-dark-1));
	background: light-dark(var(--color-light-1), var(--color-light-2));
	box-shadow: var(--box-shadow);
	border-color: light-dark(var(--color-light-3), var(--color-light-2));
}

select:focus-visible,
button:focus-visible,
input:focus-visible {
	outline: 4px ridge light-dark(var(--color-secondary), var(--color-secondary-light));
}

input[type="checkbox"] {
	box-shadow: none;
	height: 26px;
	width: calc(26px * 2);
	position: relative;
	border-radius: 13px;

}

input[type="checkbox"]::before {
	content: "off";
	color: light-dark(var(--color-dark-3), var(--color-dark-3-t));
	height: inherit;
	font-size: small;
	text-align: center;
	width: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	background-color: light-dark(var(--color-light-2), var(--color-light-1));
	border-radius: 100%;
	outline: 2px solid light-dark(var(--color-dark-3-t), var(--color-dark-2-t));
	transition: all 100ms ease-in-out;

}

input[type="checkbox"]::after {
	content: "";
	height: inherit;
	width: inherit;
	background-color: light-dark(var(--color-light-3), var(--color-light-3));
	border-radius: 16px;
	box-shadow: var(--box-shadow-inset);
	transition: all 100ms ease-in-out;

}

input[type="checkbox"]:checked::before {
	content: "on";
	font-size: small;
	transform: translateX(calc(26px));
	transition: all 100ms ease-in-out;
}

input[type="checkbox"]:checked::after {
	transition: all 100ms ease-in-out;
	background-color: var(--color-secondary-light);
}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 500;
}

h1,
h2,
h3,
h4 {
	user-select: none;
	text-align: center;
	cursor: default;
}

a {
	text-decoration: underline;
	color: light-dark(var(--color-dark-1), var(--color-light-1));
	cursor: pointer;
}

code {
	background-color: light-dark(var(--color-light-2-t), var(--color-dark-3));
	padding: 1px 3px;
	font-size: 16px;
	border-radius: 4px;
}

dialog {
	min-width: 30vw;
	max-width: 50vw;
	min-height: 30vh;
	max-height: 70vh;
	border-radius: 16px;
	background-color: light-dark(var(--color-light-2), var(--color-dark-2));
	border: none;
	align-self: center;
	justify-self: center;
	box-shadow: var(--box-shadow);
	outline: none;
	padding: 32px;

	&>div {
		position: relative;
	}

	&::backdrop {
		background-color: var(--color-dark-1-t);
	}
}

address{
	font-style: normal;
}
