 /* prettier-ignore */
 @import url('../../../base.css');

.dataRow {
	display: inline-flex;
	align-items: center;
	gap: 15px;
	justify-content: space-between;
	padding: 0 20px;
	width: 100%;
}

.dataRowWrapper{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	gap: 12px;
	flex-direction: column;
}
