@import url('@base');

.dataRow {
	display: inline-flex;
	align-items: center;
	gap: 15px;
	justify-content: space-between;
	padding: 0;
	width: 100%;
}

.dataRowWrapper {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	gap: 12px;
	flex-direction: column;
}
